.cp-news-slider {
  .swiper-slide {
    .blur-mode {
      height: auto !important;
      @include img-abs-container(70.74%);
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
    background-color: $white;
    opacity: 0.4;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 35px;
    z-index: 9;

    &.swiper-button-prev {
      left: 10px;
    }

    &.swiper-button-next {
      right: 10px;
    }

    svg {
      display: block;
      width: 12px;
      height: auto;
    }
  }

  .cp-news-card {
    .overlay {
      padding: 0 50px 20px;
    }
  }

  @include media-breakpoint-up(md) {

    .swiper-button-prev,
    .swiper-button-next {
      width: 58px;
      height: 58px;
      bottom: 41px;

      &.swiper-button-prev {
        left: 35px;
      }

      &.swiper-button-next {
        right: 35px;
      }

      svg {
        width: 24px;
      }
    }

    .cp-news-card {
      .overlay {
        padding: 0 125px 46px;
      }
    }
  }

  @include media-breakpoint-up(lg) {

    .swiper-button-prev,
    .swiper-button-next {
      bottom: 60px;
    }

    .swiper-slide {
      .blur-mode {
        height: 532px !important;
        padding: 0;
      }
    }
  }

  @include media-breakpoint-up(xl) {

    .swiper-button-prev,
    .swiper-button-next {
      bottom: 41px;
    }
  }
}