.cp-product-promo {
  position: relative;
  width: 100%;

  .blur-mode {
    border-radius: 15px;
    @include img-abs-container(96%);

    img {
      transition: all 0.2s;
    }
  }

  .cp-product-promo-overlay {
    color: $white;
    position: absolute;
    left: 15px;
    bottom: 15px;

    h3 {
      line-height: 1.4;
      margin: 0;
      font-weight: 600;
    }
  }

  &:hover {
    .blur-mode {
      img {
        transform: scale(1.2);
      }
    }
  }
}
