.cp-team-card {
  position: relative;
  max-width: 420px;
  margin: auto;
  box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.1);
  --ratio: calc(480 / 420);
  aspect-ratio: 1 / var(--ratio);
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0 0 15px 15px;
    background-color: $dark;
    height: 12px;
    z-index: 1;
  }

  &:after {
    content: "";
    position: absolute;
    left: 21.2%;
    bottom: 0;
    background: url(../images/bg/line-card.svg) no-repeat;
    width: 87px;
    height: 12px;
    z-index: 2;
  }

  .cp-team-card-image {
    @include img-abs-container(114.3%);
    border-radius: 15px;

    img {
      transform: scale(1);
    }
  }

  .cp-team-card-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 12px;
    background-color: $white;
    mask: url(../images/mask/mask-team.png) 0 0 / 100% auto no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 48px 25px 25px;

    .h4 {
      margin: 0;
      line-height: normal;
    }

    p {
      margin: 0;
      line-height: 1.87;
    }
  }

  @include media-breakpoint-up(sm) {
    .cp-team-card-overlay {
      .h4 {
        font-size: 17px;
      }

      p {
        font-size: 15px;
      }
    }
  }

  @include media-breakpoint-between(lg, xl) {
    .cp-team-card-overlay {
      padding: 48px 15px 25px;

      .h4 {
        font-size: 15px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    &--sm {
      --ratio: calc(364 / 295);
      aspect-ratio: 1 / var(--ratio);

      &:before {
        border-radius: 0 0 10px 10px;
        height: 10px;
      }

      &:after {
        width: 57px;
        height: 10px;
        background-size: cover;
      }

      .cp-team-card-image {
        @include img-abs-container(123.4%);
        border-radius: 10px;
      }

      .cp-team-card-overlay {
        bottom: 10px;
        padding: 33px 20px 18px 31px;

        .h4 {
          font-size: 13px;
          font-weight: 600;
          line-height: 25px;
          margin: 0 0 -4px;
        }

        p {
          font-size: 11px;
          font-weight: 400;
          line-height: 25px;
        }

        .cp-socials {
          a {
            width: 35px;
            height: 35px;

            img {
              width: 13px;
              height: auto;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    .cp-team-card-overlay {
      padding: 48px 28px 29px 36px;
    }

    &--sm {
      .cp-team-card-overlay {
        padding: 33px 20px 18px 31px;
      }
    }
  }
}
